.cart {
	margin-bottom: 90px;

	@media (max-width: 768px) {
		margin-bottom: 60px;
	}

	@media (max-width: 540px) {
		margin-bottom: 40px;
	}
}

.title {
	font-weight: 400;
	font-size: 32px;
	line-height: 39px;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 24px;
	border-bottom: 1px solid #DCDCDC;

	@media (max-width: 768px) {
		font-size: 24px;
		line-height: 29px;
		padding-bottom: 15px;
	}

	@media (max-width: 540px) {
		font-size: 18px;
		line-height: 22px;
		padding-bottom: 9px;
	}
}

.subtitle {
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	padding-bottom: 18px;

	@media (max-width: 768px) {
		font-size: 20px;
		line-height: 22px;
		padding-bottom: 15px;
	}

	@media (max-width: 540px) {
		font-size: 14px;
		line-height: 16px;
		padding-bottom: 9px;
	}
}

.list {
	margin-bottom: 40px;

	@media (max-width: 768px) {
		margin-bottom: 24px;
	}

	@media (max-width: 540px) {
		margin-bottom: 16px;
	}
}

.item {
	border-bottom: 1px solid #DCDCDC;
	padding: 24px 0;
}

.total {
	margin-left: auto;
	max-width: 280px;
	padding-top: 10px;
	display: flex;
	justify-content: space-between;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;

	@media (max-width: 768px) {
		max-width: 140px;
	}

	@media (max-width: 540px) {
		font-size: 12px;
		line-height: 15px;
	}
}

.empty {
	padding: 100px 15px;
	font-size: 34px;
	text-align: center;
	border-bottom: 1px solid #DCDCDC;
	display: flex;
	flex-direction: column;
	align-content: flex-end;

	@media (max-width: 768px) {
		padding: 60px 0;
		font-size: 28px;
	}

	@media (max-width: 540px) {
		padding: 40px 0;
		font-size: 24px;
	}
}

.goodsAmount {
	font-weight: 400;
	font-size: 16px;
	vertical-align: super;

	@media (max-width: 768px) {
		font-size: 12px;
	}

	@media (max-width: 540px) {
		font-size: 9px;
	}
}

.home {
	background-color: #000;
	margin: 0 auto;
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	white-space: no-wrap;
	border: none;
	padding: 14px 41px 15px;

	@media (max-width: 768px) {
		padding: 12px 41px;
		font-size: 10px;
		line-height: 12px;
	}
}